<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h3>Students</h3>
    <a th:href="@{/students/showNewStudentForm}">Add</a>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phone}"></td>
            <td>
                <a th:href="@{/students/showFormForUpdate/{id}(id=${student.id})}">Update</a>
                <a th:href="@{/students/deleteStudent/{id}(id=${student.id})}">Delete</a>
            </td>
        </tr>
    </table>

    <div th:if="${totalPages > 1}">

            <div>
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
                           th:href="@{'/students/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                    <span>
                        <a th:if="${currentPage < totalPages}"
                           th:href="@{'/students/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </span>
                    <span>
                        <a th:if="${currentPage < totalPages}"
                           th:href="@{'/students/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                        <span th:unless="${currentPage < totalPages}">Last</span>
                    </span>
            </div>

    </div>
</div>

</body>
</html>